extends ../layout

block content
  #profile-carousel.carousel.slide(data-ride="carousel")
    .carousel-inner
      - let i = 0;
      each pic in user.profile.coverPic
        if i++ === 0
          .carousel-item.active
            img.img-header-profile.d-block.w-100(src=pic.picture alt=pic.label)
        else
          .carousel-item
            img.img-header-profile.d-block.w-100(src=pic.picture alt=pic.label)

    a.carousel-control-prev(href="#profile-carousel" role="button" data-slide="prev")
      span.carousel-control-prev-icon(aria-hidden="true")
      span.sr-only Previous
    a.carousel-control-next(href="#profile-carousel" role="button" data-slide="next")
      span.carousel-control-next-icon(aria-hidden="true")
      span.sr-only Next

  .profile-social-icn.d-flex.flex-row.justify-content-center.align-items-center.flex-wrap
    .pl-5.pr-5
      a(href=user.profile.facebookLink target="_blank")
        img(src="/images/facebook.png" alt="facebook")
    .pl-5.pr-5
      a(href=user.profile.instagramLink target="_blank")
        img(src="/images/insta.png" alt="insta")
    .profile-social-icn-separator
    .pl-5.pr-5
      a(href=user.profile.twitterLink target="_blank")
        img(src="/images/twitter.png" alt="twitter")
    .pl-5.pr-5
      a(href=user.profile.otherLink target="_blank")
        img(src="/images/darkHeart.png" alt="darkHeart")
  .img-profile.mx-auto
    img.img-profile-picture.rounded-circle(src=(user.profile.profilePic.picture !== undefined ? user.profile.profilePic.picture : '/images/default-profile-pic.jpg') alt="Profile picture")

  #profile-content.m-auto
    .pt-4.pb-4.text-center
      h2 #{user.profile.nickName}
      h4.green-txt X #{user.profile.nbRecommendation} positive recommendations
      p.pt-2 
        | #{shortPresentationSentence} 
        br
        | #{shortLearnSentence}

    nav.nav.nav-pills.nav-fill.nav-primary.font-weight-bold
      a.nav-item.nav-link(href=`/profile/${user._id}`) Profile
      a.nav-item.nav-link(href=`/profile/${user._id}/recommendation`) Recommendations
      a.nav-item.nav-link.active(href=`/profile/${user._id}/experience`) Experiences
      if locals.account._id.equals(user._id)
        a.nav-item.nav-link(href=`/profile/${user._id}/dashboard`) Dashboard

    .pt-5.pb-4.text-center
      span #{data.displayName} has 
      span.recommendation-txt.green-txt #{data.nbWelcomerRecommendations} recommandation#{data.nbWelcomerRecommendations > 1 ? 's' : '' } 
      span as a welcomer.

      p.pt-4.mx-auto.w-75 #{data.experiencesDesc}

      p.pt-2.mx-auto.w-75 
        | To see or edit your existing experiences, just click on one of them.
        br
        | To create a ne one, click on the button below.

        .p-2.text-center
          button.btn.btn-wel-blue(type="button") Create a new experience

      .d-flex.flex-row.justify-content-center.flex-wrap
        each exp in exps
          .p-3
            include ../components/experience-card
      
      if !exps || exps.length === 0
        hr.profile-separation.mt-6.mb-6

        p.text-center Do you need help ?

        .p-2.text-center
          button.btn.btn-wel-blue(type="button") Contact the Welcom' team
