extends ../layout

block content
  #profile-carousel.carousel.slide(data-ride="carousel")
    .carousel-inner
      if user.profile.coverPic.length === 0
        .carousel-item.active
          img.img-header-profile.d-block.w-100(src='/images/default-cover-pic.jpg' alt='Default profile cover')
      else
        - let i = 0;
        each pic in user.profile.coverPic
          if i++ === 0
            .carousel-item.active
              img.img-header-profile.d-block.w-100(src=pic.picture alt=pic.label)
          else
            .carousel-item
              img.img-header-profile.d-block.w-100(src=pic.picture alt=pic.label)

    a.carousel-control-prev(href="#profile-carousel" role="button" data-slide="prev")
      span.carousel-control-prev-icon(aria-hidden="true")
      span.sr-only Previous
    a.carousel-control-next(href="#profile-carousel" role="button" data-slide="next")
      span.carousel-control-next-icon(aria-hidden="true")
      span.sr-only Next

  .profile-social-icn.d-flex.flex-row.justify-content-center.align-items-center.flex-wrap
    .pl-5.pr-5
      a(href=user.profile.facebookLink target="_blank")
        img(src="/images/facebook.png" alt="facebook")
    .pl-5.pr-5
      a(href=user.profile.instagramLink target="_blank")
        img(src="/images/insta.png" alt="insta")
    .profile-social-icn-separator
    .pl-5.pr-5
      a(href=user.profile.twitterLink target="_blank")
        img(src="/images/twitter.png" alt="twitter")
    .pl-5.pr-5
      a(href=user.profile.otherLink target="_blank")
        img(src="/images/darkHeart.png" alt="darkHeart")
  .img-profile.mx-auto
    img.img-profile-picture.rounded-circle(src=(user.profile.profilePic.picture !== undefined ? user.profile.profilePic.picture : '/images/default-profile-pic.jpg') alt="Profile picture")

  #profile-content.m-auto
    .pt-4.pb-4.text-center
      h2 #{user.profile.nickName}
      h4.green-txt X #{user.profile.nbRecommendation} positive recommendations
      p.pt-2 
        | #{shortPresentationSentence} 
        br 
        | #{shortLearnSentence}

    nav.nav.nav-pills.nav-fill.nav-primary.font-weight-bold
      a.nav-item.nav-link.active(href=`/profile/${user._id}`) Profile
      a.nav-item.nav-link(href=`/profile/${user._id}/recommendation`) Recommendations
      a.nav-item.nav-link(href=`/profile/${user._id}/experience`) Experiences
      if locals.account._id.equals(user._id)
        a.nav-item.nav-link(href=`/profile/${user._id}/dashboard`) Dashboard

    .pt-5.pb-4.text-center
      p.markup #{user.profile.intro}

    .profile-tags
      .d-flex.align-content-between.flex-wrap.mb-3
        each tag in user.profile.interests
          .p-2.m-2.border.border-secondary.rounded #{tag.name}

    h4.pt-3.pl-2.font-weight-bold What I want to share whith the community :
    p.pl-2.markup #{user.profile.shareWithCommunity}

    hr.profile-separation.mt-6.mb-6

    h4.font-weight-bold.pl-2 About me :
    p.pl-2.markup #{user.profile.description}

    hr.profile-separation.mt-6.mb-6

    .pt-4.pb-4.d-flex.justify-content-around.flex-wrap
      .p-4.profile-square.text-center
        h4.font-weight-bold The trips I lived
        p.markup #{user.profile.tripLived}

      .p-4.profile-square.text-center 
        h4.font-weight-bold My travel plans
        p.markup #{user.profile.travelPlan}

    hr.profile-separation.mt-6.mb-6

    if !isConnectedUser
      p.text-center Wish to have a chat ?
      
      .pb-6.text-center
        button.pr-6.pl-6.btn.btn-outline-dark(type="button") Contact me
    else
      .pb-6.text-center
        a(href=`/profile/${user._id}/edit`)
          button.pr-6.pl-6.btn.btn-dark(type="button") Edit profile
