extends ../layout

block content
  #profile-carousel.carousel.slide(data-ride="carousel")
    .carousel-inner
      if user.profile.coverPic.length === 0
        .carousel-item.active
          img.img-header-profile.d-block.w-100(src='/images/default-cover-pic.jpg' alt='Default profile cover')
      else
        - let i = 0;
        each pic in user.profile.coverPic
          if i++ === 0
            .carousel-item.active
              img.img-header-profile.d-block.w-100(src=pic.picture alt=pic.label)
          else
            .carousel-item
              img.img-header-profile.d-block.w-100(src=pic.picture alt=pic.label)

    a.carousel-control-prev(href="#profile-carousel" role="button" data-slide="prev")
      span.carousel-control-prev-icon(aria-hidden="true")
      span.sr-only Previous
    a.carousel-control-next(href="#profile-carousel" role="button" data-slide="next")
      span.carousel-control-next-icon(aria-hidden="true")
      span.sr-only Next

  .profile-social-icn.d-flex.flex-row.justify-content-center.align-items-center.flex-wrap
    .pl-5.pr-5
      a(href=user.profile.facebookLink target="_blank")
        img(src="/images/facebook.png" alt="facebook")
    .pl-5.pr-5
      a(href=user.profile.instagramLink target="_blank")
        img(src="/images/insta.png" alt="insta")
    .profile-social-icn-separator
    .pl-5.pr-5
      a(href=user.profile.twitterLink target="_blank")
        img(src="/images/twitter.png" alt="twitter")
    .pl-5.pr-5
      a(href=user.profile.otherLink target="_blank")
        img(src="/images/darkHeart.png" alt="darkHeart")
  .img-profile.mx-auto
    img.img-profile-picture.rounded-circle(src=(user.profile.profilePic.picture !== undefined ? user.profile.profilePic.picture : '/images/default-profile-pic.jpg') alt="Profile picture")

  #profile-content.m-auto.pb-6
    .pt-4.pb-4.text-center
      h2 #{user.profile.nickName}
      h4.green-txt #{(user.profile.recommendations !== undefined && user.profile.recommendations.length > 0) ? user.profile.recommendations.length : "0"} positive recommendations
      p.pt-2 
        | #{data.shortPresentationSentence} 
        br
        | #{data.shortLearnSentence}

    nav.nav.nav-pills.nav-fill.nav-primary.font-weight-bold
      a.nav-item.nav-link(href=`/profile/${user._id}`) Profile
      a.nav-item.nav-link.active(href=`/profile/${user._id}/recommendation`) Recommendations
      if locals.account.isWelcomer
        a.nav-item.nav-link(href=`/profile/${user._id}/experience`) Experiences
      if locals.account._id.equals(user._id)
        a.nav-item.nav-link(href=`/profile/${user._id}/dashboard`) Dashboard

    .pt-5.text-center
      p #{data.recommendationDescription}

    if user.profile.recommendations
      each recommendation in user.profile.recommendations
        include ../components/recommendation.pug

    if user._id.equals(locals.account._id)
      hr.profile-separation

      p.mx-auto.w-75.pt-4.text-center 
        | If you want more recommendations, you can ask your friends to register and give you one.
        br
        | Members don't need to book an experiences together to write each others recommendations.
        br
        | If you know someone and want the community to trust them like they deserve, juste give a recommendation.
        br
        | It's the same for your friends or the members that know you: they can give you a recommendation to build trust!
    else
      h3.pt-4.text-center Do you feel like writing a recommendation ?

      p.mx-auto.w-75.pt-4.text-center 
        | You don't need to live an experience to so. If you know the welcomer, or if you would like to 
        | encourage him/her, you can write a recommendation to let other members know what you think.
        br
        | We want to let the members express themselves with kindness. 
        br
        | Recommendations build trust among the community!

      .pt-4.pb-4.text-center
        button.btn-wel-blue.pr-6.pl-6.btn(data-target="#write-recommendations-modal" data-toggle="modal" type="button") Write a recommendation

      hr.profile-separation

      .pt-2.text-center  Wish to have a chat

      .pt-4.text-center
        button.pr-6.pl-6.btn.btn-outline-dark(type="button") Contact me
    
    <!-- Write a recommendation -->
    #write-recommendations-modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="writeRecoModal")
      .modal-dialog(role="document")
        .modal-content
          form#write-recommendations-modal-form.form-horizontal(name="writeRecommendation" action=`/profile/${user._id}/recommendation/add` method='POST' novalidate)
            input(type='hidden', name='_csrf', value=_csrf)
            .wel-bg-blue.wel-color-white
              .row.modal-header.border-0
                .col-1
                .col-10.text-center
                  h3.modal-title.m-auto  Write a recommendation about #{user.profile.nickName}
                .col-1
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.wel-color-yellow(aria-hidden="true") X
            .modal-body
              .item.text-center
                p 
                  | As a member of the community, you can write a recommendation about any other member
                  | or even experience. The only rule is to be <b> positive </b> and <b> kind </b>, 
                  | as the recommendations are <b> displayed publicity </b>.
                  br
                  | Recommendations help to <b> build trust </b> among us!
              
              hr.profile-separation

              h5.pt-4.font-weight-bold What would you like the other community members to know about #{user.profile.nickName}?

              .form-row
                .form-group.col-md-12
                  textarea#recommendation-desc.form-control(name="recommendationDesc" cols="30" rows="5" placeholder="Remember, stay positive please, the recommendations are public" required)
                  .invalid-feedback
                    span Please, write a recommendations (30 to 300 signs).

            .modal-footer
              button.btn.btn-wel-pink(type="submit") Post the recommendation
              button.btn.btn-secondary(type="button" data-dismiss="modal") Close

block js
  script.
    (function() {
      const recommendationDesc = document.getElementById('recommendation-desc');

      recommendationDesc.onkeyup = () => {
        const isValid = validateRecommendationDesc();

        if(isValid){
          recommendationDesc.setCustomValidity('');
        } else{
          recommendationDesc.setCustomValidity("Passwords don't match all rules.");
        }
      }

      function validateRecommendationDesc(){
        if(recommendationDesc.value === undefined 
        || recommendationDesc.value === null
        || recommendationDesc.value === ''
        || recommendationDesc.value.length < 30 
        || recommendationDesc.value.length > 300){
          return false;
        }
        return true;
      };

      // Add manual validation
      let form = $("#write-recommendations-modal-form")[0];
      if(form !== undefined || form !== null){
        form.onsubmit = function(event){    

          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          } 

          form.classList.add('was-validated');      
        };
      }

      if(`#{isFromAddRecommendation}`){
        $('#write-recommendations-modal').modal('show');
      }

      // Set valid data
      setServerValidData(!{JSON.stringify(validData)});
      // Set Error data
      checkServerValidity(!{JSON.stringify(errors)}); 
    })();
