nav#wel-nav-bar.navbar.navbar-expand-lg.navbar-light
  .container
    a.navbar-brand(href="/") 
      img.header-logo(src='/images/welcom-logo-horizontal-header.svg')
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav")
      span.navbar-toggler-icon
    #navbarNav.navbar-collapse.collapse
      ul.navbar-nav.ml-auto
        li.pt-4(role="separator")
        if !locals.account
          li.nav-item.m-auto.pl-3.pr-5
            button.gradient-rounded-btn.text-uppercase.nav-link.btn.wel-bg-blue.wel-color-white(data-target="#joinus" data-toggle="modal" type="button") Join us
          li.nav-item.m-auto.pl-2.pr-2
            a.underline-yellow.text-uppercase.nav-link(href="/learnmore") Learn more
          li.nav-item.m-auto.pl-2.pr-2
            a.underline-yellow.text-uppercase.nav-link(href="/readblog") Read our blog
          if !locals.account
            li.nav-item.m-auto.pl-2.pr-2
              a.underline-yellow.text-uppercase.nav-link.text-gradient(data-target="#sign-in-modal" data-toggle="modal" href="#") Sign in
        else
          li.nav-item.m-auto.pl-3.pr-5
            a.nav-link.btn.gradient-rounded-btn.text-uppercase.wel-color-white(href="/experience/list" role="button") Experiences
          li.nav-item.m-auto.pl-2.pr-2
            a.underline-yellow.text-uppercase.nav-link(href="/readblog") Read our blog
          li.nav-item.m-auto.pl-2.pr-2
            a#message-icon.nav-link(href="#")
              .far.fa-envelope-open.fa-2x
              span.badge.badge-pill 5
          li.nav-item.m-auto.dropdown
            a#navbarDropdown.nav-link(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
              img#header-profile-picture.rounded-circle(src=(locals.account.profile.profilePic.picture !== undefined ? locals.account.profile.profilePic.picture : '/images/default-profile-pic.jpg') alt="Profile picture")

            .dropdown-menu(aria-labelledby="navbarDropdown")
              if !locals.account.isWelcomer
                a.dropdown-item(href=`/welcomer/become`) Become welcomer
                .dropdown-divider
              if locals.account.isWelcomer
                a.dropdown-item(href=`/experience/create`) Create a new experience
                .dropdown-divider
              a.dropdown-item(href=`/profile/${locals.account._id}`) Profile
              .dropdown-divider
              a.dropdown-item(href="/logout") Sign out

<!-- Join us Modal -->
#joinus.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
  .modal-dialog(role="document")
    .modal-content
      .wel-bg-blue.wel-color-white
        .row.modal-header.border-0
          .col-1
          .col-10.text-center
            h3.modal-title.m-auto  Join our travellers community
          .col-1
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span.wel-color-yellow(aria-hidden="true") X
      #joinus-modal.modal-body
        form#join-us-form.form-horizontal(name="signupForm" action="/signup" method='POST' novalidate)
          input(type='hidden', name='_csrf', value=_csrf)

          .item.text-center
            .pt-2
              input#join-us-email.form-control.form-modal.m-auto(name="email" type="email" placeholder="Your email" required)
              p#join-us-email-err.form-msg-error.m-auto
              #invalid-join-us-email.invalid-feedback
                span Email is not valid or there is already an account with this email.
            .pt-4
              input#join-us-password.form-control.form-modal.m-auto(name="password" type="password" placeholder="Choose a password" required)
              p#join-us-password-err.form-msg-error.m-auto
              #invalid-join-us-password.invalid-feedback
                span Password don't match all rules.
            .pt-4
              input#join-us-password-confirm.form-control.form-modal.m-auto(name="confirmPwd" type="password" placeholder="Confirm your password" required)
              p#join-us-password-confirm-err.form-msg-error.m-auto
              #invalid-join-us-password-confirm.invalid-feedback
                span Confirm password don't match with password.
            .pt-4
              .form-group
                #pwd-rules-container.d-none.text-left
                  p#letter.pb-0.pt-0.m-0.invalid A <b>lowercase</b> letter, 
                  p#capital.pb-0.pt-0.m-0.invalid A <b>capital (uppercase)</b> letter, 
                  p#number.pb-0.pt-0.m-0.invalid A <b>number</b>, 
                  p#length.pb-0.pt-0.m-0.invalid Minimum <b>8 characters</b>, 
            .pt-4.join-us-btn
              p.terms-of-use.m-auto.pb-4
                | By clicking the "Welcom !" button, you agree our Terms of Use, which you can 
                a.font-weight-bold(href='/termsofuse') read here
                | . 
              button.mt-1.mb-2(type="submit") Welcome !

          .form-group
            .m-auto
              hr
              p.text-center Or join us with :

        .social-btn.text-center
          .mt-2
            a.btn.btn-wel-blue(href='/auth/facebook')
              i.wel-color-white
                .fab.fa-facebook-f
                | &nbsp;&nbsp; Your Facebook account                                    
          .mt-2
            a.btn.btn-wel-pink(href='/auth/twitter')
              i.wel-color-white
                .fab.fa-twitter
                | &nbsp;&nbsp; Your Twitter account
          .mt-2
            a.btn.btn-wel-yellow(href='/auth/google')
              i.wel-color-white
                .fab.fa-google-plus-g
                | &nbsp;&nbsp; Your Google account
          .mt-4
            a.social-link(href='#' onclick="$('#joinus').modal('hide');$('#sign-in-modal').modal('toggle');") Already a member ?

<!-- Sing in Modal -->
#sign-in-modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="sign in modal")
  .modal-dialog(role="document")
    .modal-content
      .wel-bg-blue.wel-color-white
        .row.modal-header.border-0
          .col-2
          .col-8.text-center
            h3.modal-title.m-auto  Welcome back !
          .col-2
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span.wel-color-yellow(aria-hidden="true") X
      #sign-in-modal-body.modal-body
        form#sign-in-modal-form.form-horizontal(name="signupForm" action="/login" method='POST')
          input(type='hidden', name='_csrf', value=_csrf)

          .item.text-center
            .pt-2
              input#email.form-control.form-modal.m-auto(name="email" type="email" placeholder="Your email")
              p#email-err.form-msg-error.m-auto
            .pt-4
              input#password.form-control.form-modal.m-auto(name="password" type="password" placeholder="Your password")
              p#password-err.form-msg-error.m-auto
            .pt-4
              input#remember-me(type="checkbox" checked)
              span.form-label &nbsp;Remember me
            .pt-4.sign-in-btn
              button.mt-1.mb-2(type="submit") Sign in
            .pt-2
              a(href='/forgot') Forgot your password ?

          .form-group
            .m-auto
              hr
              p.text-center Or sign in with :

        .social-btn.text-center
          .mt-2
            a.btn.btn-wel-blue(href='/auth/facebook')
              i.wel-color-white
                .fab.fa-facebook-f
                | &nbsp;&nbsp; Your Facebook account                                    
          .mt-2
            a.btn.btn-wel-pink(href='/auth/twitter')
              i.wel-color-white
                .fab.fa-twitter
                | &nbsp;&nbsp; Your Twitter account
          .mt-2
            a.btn.btn-wel-yellow(href='/auth/google')
              i.wel-color-white
                .fab.fa-google-plus-g
                | &nbsp;&nbsp; Your Google account
          .mt-4
            a.social-link(href='#' onclick="$('#sign-in-modal').modal('hide');$('#joinus').modal('toggle');$('#joinus').modal('handleUpdate');") Not yet a member ? Join us !

script.
  (function() {
    const password = document.getElementById("join-us-password")
    const confirm_password = document.getElementById("join-us-password-confirm");

    password.onfocus = () => {
      const pwdRulesContainer = document.getElementById('pwd-rules-container');
      pwdRulesContainer.classList.remove('d-none');
      validatePasswordRules();
    }

    password.onblur = () => {
      const pwdRulesContainer = document.getElementById('pwd-rules-container');
      pwdRulesContainer.classList.add('d-none');
    }

    // When the user starts to type something inside the password field
    password.onkeyup = () => {
      const pwdIsValid = validatePasswordRules();

      if(pwdIsValid){
        password.setCustomValidity('');
      } else{
        password.setCustomValidity("Passwords don't match all rules.");
      }
    }

    function validatePasswordRules(){
      const letter = document.getElementById("letter");
      const capital = document.getElementById("capital");
      const number = document.getElementById("number");
      const length = document.getElementById("length");
      let pwdIsValid = true;

      // Validate lowercase letters
      const lowerCaseLetters = /[a-z]/g;
      if(password.value.match(lowerCaseLetters)) {  
        letter.classList.remove("invalid");
        letter.classList.add("valid");
      } else {
        letter.classList.remove("valid");
        letter.classList.add("invalid");
        pwdIsValid = false;
      }
      
      // Validate capital letters
      const upperCaseLetters = /[A-Z]/g;
      if(password.value.match(upperCaseLetters)) {  
        capital.classList.remove("invalid");
        capital.classList.add("valid");
      } else {
        capital.classList.remove("valid");
        capital.classList.add("invalid");
        pwdIsValid = false;
      }

      // Validate numbers
      const numbers = /[0-9]/g;
      if(password.value.match(numbers)) {  
        number.classList.remove("invalid");
        number.classList.add("valid");
      } else {
        number.classList.remove("valid");
        number.classList.add("invalid");
        pwdIsValid = false;
      }
      
      // Validate length
      if(password.value.length >= 8) {
        length.classList.remove("invalid");
        length.classList.add("valid");
      } else {
        length.classList.remove("valid");
        length.classList.add("invalid");
        pwdIsValid = false;
      }

      return pwdIsValid;
    }

    // Test if confirm password is identical to password
    function validatePassword(){
      if(password.value !== confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

    // Add manual validation
    let form = $("#join-us-form")[0];
    if(form !== undefined || form !== null){
      form.onsubmit = function(event){    

        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        } 

        form.classList.add('was-validated');      
      };
    }

    if(`#{fromSignUp}`){
      $('#joinus').modal('show');
    }

    // Set valid data
    setServerValidData(!{JSON.stringify(validData)});
    // Set Error data
    checkServerValidity(!{JSON.stringify(errors)}); 
  })();
