.recommendation
  hr.mt-4.mb-4

  .pl-6.d-flex.flex-row.align-items-center
    img.recommendation-profile-pic.rounded-circle(src=recommendation.profilePic alt="Profile picture")
    .m-4
      h4 #{recommendation.displayName}, from #{recommendation.city}, #{recommendation.country}
      
      if recommendation.titleExperience
        h4.pt-3.green-txt Recommends #{recommendation.titleExperience}
      else
        h4.pt-3.green-txt Recommends #{recommendation.receiverDisplayName}

      p.pt-3 #{recommendation.comment}

  if recommendation.anwser !== undefined
    .recommendation-answer.d-flex.flex-row.align-items-center
      img.recommendation-answer-profile-pic.rounded-circle(src=recommendation.anwser.profilePic alt="Profile picture")
      .m-4
        h4 #{recommendation.anwser.displayName}'s answer :
        
        p.pt-2 #{recommendation.anwser.comment}

  hr.mt-4.mb-4