.recommendation
  hr.mt-4.mb-4

  .pl-6.d-flex.flex-row.align-items-center
    img.recommendation-profile-pic.rounded-circle(src=(recommendation.writer.profile.profilePic.picture !== undefined ? recommendation.writer.profile.profilePic.picture : '/images/default-profile-pic.jpg') alt="Profile picture")
    .m-4
      h4 #{recommendation.writer.profile.nickName || recommendation.writer.profile.firstName}#{recommendation.writer.profile.city !== undefined ? `, from ${recommendation.writer.profile.city}` : ''}
      
      if recommendation.isForExperience
        h4.pt-3.green-txt Recommends #{exp.title}
      else if recommendation.isForProfile
        h4.pt-3.green-txt Recommends #{exp.creator.profile.nickName}

      p.pt-3 #{recommendation.description}

  if locals.account && exp.creator._id.equals(locals.account._id) && (recommendation.response === undefined || recommendation.response.description === undefined || recommendation.response.description === '')
    form#write-recommendations-response-form(name="writeRecommendationResponse" action=`/recommendation/${recommendation._id}/response-exp/add` method='POST' novalidate)
      input(type='hidden', name='_csrf', value=_csrf)
      input(type='hidden', name='expId', value=exp._id)
      .form-row.align-items-center
        .col-10
          textarea#recommendation-response-desc.form-control(name="recommendationResponseDesc" cols="30" rows="3" placeholder="Write an answer" required)
          .invalid-feedback
            span Please, write a answer (30 to 300 signs).
        .col-2
          button.btn.btn-wel-pink(type="submit") Post

  if recommendation.response !== undefined && recommendation.response.description !== undefined && recommendation.response.description !== ''
    .recommendation-answer.d-flex.flex-row.align-items-center
      img.recommendation-answer-profile-pic.rounded-circle(src=(exp.creator.profile.profilePic.picture !== undefined ? exp.creator.profile.profilePic.picture : '/images/default-profile-pic.jpg') alt="Profile picture")
      .m-4
        h4 #{exp.creator.profile.nickName}'s answer :
        
        p.pt-2 #{recommendation.response.description}

  hr.mt-4.mb-4

block js
  script.
    (function() {
      const recommendationResponseDesc = document.getElementById('recommendation-response-desc');

      if (recommendationResponseDesc) {
        recommendationResponseDesc.onkeyup = () => {
          const isValid = validateRecommendationResponseDesc();

          if(isValid){
            recommendationResponseDesc.setCustomValidity('');
          } else{
            recommendationResponseDesc.setCustomValidity("Please, write a answer (30 to 300 signs).");
          }
        }      
      }

      function validateRecommendationResponseDesc(){
        if(recommendationResponseDesc.value === undefined 
        || recommendationResponseDesc.value === null
        || recommendationResponseDesc.value === ''
        || recommendationResponseDesc.value.length < 30 
        || recommendationResponseDesc.value.length > 300){
          return false;
        }
        return true;
      };

      // Add manual validation
      let form = $("#write-recommendations-response-form")[0];
      if(form !== undefined && form !== null){
        form.onsubmit = function(event){    

          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          } 

          form.classList.add('was-validated');      
        };
      }

      // Set valid data
      setServerValidData(!{JSON.stringify(validData)});
      // Set Error data
      checkServerValidity(!{JSON.stringify(errors)}); 
    })();
